<?xml version="1.0"?>

<launch>
    <arg name="kalman_local_config" default="kalman_local_config"/>
    <arg name="kalman_global_config" default="kalman_global_config"/>

    <node pkg="robot_localization" type="ekf_localization_node" name="kalman_local" clear_params="true">
        <rosparam command="load" file="$(find state_estimation)/cfg/$(arg kalman_local_config).yaml" />
        <remap from="odometry/filtered" to="estimators/odom/local"/>
        <remap from="accel/filtered" to="estimators/accel/local"/>
    </node>

    <node pkg="robot_localization" type="ekf_localization_node" name="kalman_global" clear_params="true">
        <rosparam command="load" file="$(find state_estimation)/cfg/$(arg kalman_global_config).yaml" />
        <remap from="odometry/filtered" to="estimators/odom/global"/>
        <remap from="accel/filtered" to="estimators/accel/global"/>
    </node>
</launch>