<?xml version="1.0"?>

<launch>

    <arg name="rosbag" default="false" />

    <!-- TF nodes -->
    <include file="$(find state_estimation)/launch/robot_description.launch"/>

    <!-- Launch sensors -->
    <group if="$(eval arg('rosbag') == 'false')">
        <include file="$(find state_estimation)/launch/imu.launch"/>
        <include file="$(find state_estimation)/launch/radar.launch"/>
        <include file="$(find state_estimation)/launch/gnss.launch"/>
    </group>

    <!-- Launch intermediate estimators -->
    <include file="$(find state_estimation)/launch/reve.launch"/>

    <!-- Launch transformation of navsat fix message -->
    <include file="$(find state_estimation)/launch/navsat_transform.launch"/>

    <!-- Launch Kalman filter -->
    <include file="$(find state_estimation)/launch/kalman.launch"/>

</launch>